.title {
  border-radius: 10px;
  border: #ff0000 solid 2px;
  padding: 10px;
  color: black;
}
.title:hover {
  background-color: #ff0000;
  color: white;
}

.home {
  border-radius: 10px;
  border: #ff0000 solid 2px;
  padding: 10px;
  color: black;
}

.home:hover {
  background-color: #ff0000;
  color: white;
}

.movie-card-hover {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.movie-card-hover:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

/* navbar
 */

.custom-navbar {
  background-color: #000 !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff !important;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  padding: 0.3rem 0.7rem;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  background-color: #ff0000 !important;
  color: #ffffff !important;
}

.custom-navbar .navbar-toggler {
  border-color: #ff0000 !important;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1);
}
.navbar-brand {
  color: white !important;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* fondo de imagen */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full-width-banner {
  width: 100vw !important;
  height: 600px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.full-width-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* fade */

.fade {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.95),
    rgba(122, 7, 7, 0)
  );
}
.content-overlay {
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
  z-index: 2;
}

.header-img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header-img {
  width: 100%;
  display: block;
}

.header-blur-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.548),
    rgba(0, 0, 0, 0.85)
  );
  pointer-events: none;
  z-index: 2;
}
